body {
    background-image: url(../img/hypnotize.png);
}

.logo {
    font-family: 'Trykker', serif;
}

.brand-logo {
    color: #1b1e21;
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}